@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.body {
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 20px 20px 20px;
    color: rgb(0, 100, 162);
    font-size: 1.8rem;
    font-weight: bold;
}

table {
    border: 1px solid lightgray;
    font-size: 1.1rem;
    padding: 15px 20px 15px 20px;
    margin: 0px 20px 10px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

th, td {
    padding: 12px;
    vertical-align: middle;
}

.headerButtons button {
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 100, 162);;
    color: white;
    padding: 3px 10px 5px 10px;
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.changeButton {
    background: transparent;
    border: none;
    height: 24px;
    width: 24px;
    fill: rgb(106, 106, 106);  
}

.deleteButton {
    background: transparent;
    border: none;
    height: 24px;
    width: 24px;
    fill: rgb(172, 1, 1);
}

.addModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.addModalBody {
    display: flex;
    flex-direction: column;
    /* font-size: 1.2rem; */
    gap: 20px;
    padding: 24px;
    /* min-width: 120px; */
}

.modalCheckbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -20px;
}

#statusCheckbox {
    width: 18px;
    height: 18px;
}

.modalInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.modalInput p {
    font-size: 1.1rem;
    font-weight: bold;
}

.modalInput input{
    background-color: rgb(234, 235, 244);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 1rem;
}

.modalInput input:focus {
    outline: none;
    background-color: white;
    border-color: rgb(234, 235, 244);
}

.questionModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px 12px 16px 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.questionModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 15px;
    min-width: 120px;
}

.modalButtons {
    display: flex;
    justify-content: center;
}

.modalButtons button {
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
    width: 80px;
    border: none;
    background-color: rgb(0, 100, 162);;
    color: white;
    padding: 3px 10px 8px 10px;
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.closeButton {
    background: transparent;
    border: none;
    height: 24px;
    width: 24px;
    fill: rgb(106, 106, 106);  
}